[req]
distinguished_name = req_dn
x509_extensions = v3_req
prompt = no

[req_dn]
CN = hp.local

[v3_req]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature,keyEncipherment

[alt_names]
DNS.1 = hp.local
DNS.2 = zabbix.hp.local
DNS.3 = n8n.hp.local
DNS.4 = localhost
IP.1 = your-server.local
IP.2 = 127.0.0.1
